MORALIS_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjM1ZjM0OWU3LTVhMmQtNDUwNC04NDJlLWQ4MGQ4MGM5YzEzYyIsIm9yZ0lkIjoiMzY0MjY0IiwidXNlcklkIjoiMzc0MzcwIiwidHlwZUlkIjoiZjA5ZGNiNmQtZjE1Yy00NDI1LWJlOTgtNjY5ZTA3N2YyNzc2IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE2OTk4NjcxMjUsImV4cCI6NDg1NTYyNzEyNX0.dHnvUnQm14lrtyUZNPMyAvSVb7UN-8dmQ74XSjVVxDc"
